<%= image_tag("AthenaLogo", id:'main-page-logo') %>

<h1 class="main-page-description">
  Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.Whatever the heck I want it to say.
</h1>
