<%= image_tag("AthenaLogo", id:'main-page-logo') %>

<h1 class="main-page-description">
<p>This is just filler for now and will likely be changed in the future, but this section will say something about how much of an impact Overwatch has had on our culture and the enjoyment we have recieved from it. This is a site that is meant to be an open forum and analysis on the Heros of overwatch as well as how to play and counter each one.</p></br>
<p>I am also probably going to talk about how the people we have met in the Overwatch community have been great and we've gotten to know them so well.</p>
</h1>
