@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #EBEBEB;
$overwatch-orange: #FA9C1E;
$inner-grey: #2f333a;
$middle-grey: #28292f;
$outer-grey: #131317;

html {
  height: 100%;
}

body {
  
  background: $inner-grey; /* For browsers that do not support gradients */    
  background: -webkit-radial-gradient($inner-grey, $middle-grey, $outer-grey); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient($inner-grey, $middle-grey, $outer-grey); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient($inner-grey, $middle-grey, $outer-grey); /* For Firefox 3.6 to 15 */
  background: radial-gradient($inner-grey, $middle-grey, $outer-grey); /* Standard syntax (must be last) */
  color: $light-grey;
}

a {
  color: $overwatch-orange;
}

a:hover {
  color: #CF7804;
  text-decoration: none;
}
