@import "bootstrap-sprockets";
@import "bootstrap";

$light-grey: #EBEBEB;
$overwatch-orange: #FA9C1E;
$inner-grey: #2f333a;
$middle-grey: #28292f;
$outer-grey: #131317;

html {
  height: 100%;
}

body {
  
  background: $inner-grey; /* For browsers that do not support gradients */    
  background: -webkit-radial-gradient($inner-grey, $middle-grey, $outer-grey); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient($inner-grey, $middle-grey, $outer-grey); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient($inner-grey, $middle-grey, $outer-grey); /* For Firefox 3.6 to 15 */
  background: radial-gradient($inner-grey, $middle-grey, $outer-grey); /* Standard syntax (must be last) */
  color: $light-grey;
}

a {
  color: $overwatch-orange;
}

a:hover {
  color: #CF7804;
  text-decoration: none;
}

/* --- UNIVERSAL STYLES --- */
.ow-button {
  color: white;
  font-size: 2.0em;
  border: 2px solid #26c6ff;
  background: rgba(0,0,255,0.3);
  border-radius: 8px;
  transform: skewX(165deg);
  margin: 30px;
}

.ow-text {
  color: black;
}

.center {
  text-align: center;
}

input[type=submit] {
  @extend .ow-button;
}

input[type=text] {
  color: black;
}

/* --- NAVBAR STYLES --- */
.navbar-brand {
  font-size: 2em;
  margin-top: 11px; 
}

#navbar-logo {
  height: 50px;
  width: 50px;
  opacity: 0.8;
  margin: -13px -12px auto -1px;
}


/* --- MAIN STYLES --- */
#main-page-logo {
  height: 594px;
  margin: 50px 50px 15px 60px;
  border-radius: 50px;
  float: left;
}

.main-page-description {
  margin-top: 50px;
  margin-right: 20px;
}